.info1, .info2, .info3 {
    cursor: pointer;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    color: white;

    filter: drop-shadow(0 0 1px white);
}

.info1 a, .info2 a, .info3 a {
    font: arial;
    font-variant: none;
    color: white;
}
.info1:hover {
    background-color: #003057;
    filter: drop-shadow(0 0 5px yellow);
    width: 560px;
    border-radius: 15px;
}

.info2:hover {
    background-color: #003057;
    filter: drop-shadow(0 0 5px yellow);
    width: 310px;
    border-radius: 15px;
}

.info3:hover {
    background-color: #003057;
    filter: drop-shadow(0 0 5px yellow);
    width: 400px;
    border-radius: 15px;
}