.subtitulo {
    font-family: arial;
    font-size: 25px;
    color: white;
    margin-top: -15px;
}

.juramento {
    color: rgb(255, 238, 0);
}

.justica, .advocacia {
    color: white;
}

h2,.tem {
    text-align: center;
    cursor: pointer;
}

h2:hover, .tem:hover {
    transform: scale(1.10);
    filter: drop-shadow(0 0 5px white);
}

p {
    text-align: left;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0 auto;
    width: 65%;
}