body {
    background-color: #080a5a;
}

h1 {
    color: #ffac00;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: arial;
    text-align: center;
}

.contato {
    max-width: 2210px;
    color: #ffffff;
    background-color: #031e50;
    padding: 5px;
    font-weight: normal;
    font-size: 140%;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

a.contato:hover {
    background-color: #003057;
    border-radius: 5px;
}

.numero {
    font-size: 70%;
}

.subtitulo {
    font-family: arial;
    font-size: 25px;
    color: white;
    margin-top: -15px;
}

.bg {
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    background-color: #080a5a;
    background-image: url('../assets/marinhossp.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 530px) {
    .bg {
        background-size: 150%; /* diminui a imagem */
    }
}

.juramento {
    color: rgb(255, 238, 0);
}

.justica {
    color: white;
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0 auto;
    width: 65%;
}

ul {
    padding-left: 0;
}

li {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

.menu {
    background-color: #031e50;
    text-align: center;
    width: 100%;
}

.menu li {
    font-family: arial;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.menu a {
    background-color: #031e50;
    color: #cf9905;
    padding: 15px;
    display: block;
}

.menu a:hover {
    border-radius: 5px;
    background-color: #003057;
}

.btn-menu {
    display: none;
    background-color: #003057;
    color: #cf9905;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 5px;
}


@media (max-width: 547px) {
    body{
        transform: scale(1);
    }
}
/* Esconder menu e mostrar botão abaixo de 760px */
@media (max-width: 760px) {

    .menu {
        display: none;
    }

    .btn-menu {
        display: block
    }

    /* ativar menu pelo JS */
    .menu.menu-ativo {
        display: block;
        margin-top: 10px;
    }

    .menu li {
    display: flex;
}

.menu a {
    background-color: #031e50;
    color: #cf9905;
    padding: 15px;
    width: 100%;
    display: block;
}
}


.logo {
    display: block;
    margin: 20px auto;
    width: 65%;
}