body {
    background-color: #02033b;
}

hr {
    width: 66%;
}

.bg {
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    background-color: #02033b;
    background-image: url('../assets/marinhossp.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 530px) {
    .bg {
        background-size: 150%; /* diminui a imagem */
        margin-top: -11px;
    }
}